<div class="container">
  
  <div class="row">
    
    <h1>About</h1>
    <p>Candidate Sentiment is a Ruby on Rails application which analyzes and displays sentiment analysis data about presidential candidates. The app searches Twitter for recent tweets mentioning presidential candidates names. Each tweet is run through sentiment analysis using the Sentimentalizer Gem, which gives the text a "probability" score ranging from 0 (completely negative) to 1 (completely positive), with .500 being neutral. </p>
    <p>New data points are added to the database once every hour. A line chart showing the history of the scores for each candidate is rendered using the d3 JavaScript library. </p>
  </div>

</div>


