<div class="container">
  
  <div class="row">
    
    <h1>Contact</h1>
    <p>Have ideas about how to make this project better? Email iancandysemail at gmail.com or <a href="https://github.com/ipc103/candidate-sentiment">find us on Github</a> </p>
  </div>

</div>