<% @candidates.each do |candidate| %>
  <h3><%= candidate.name %></h3>
  <h6><%= candidate.twitter %></h6>
  <ul>
    <% candidate.data_points.each do |data_point| %>
      <li>Candidate Twitter Positivity Rating: <%= data_point.tweet_sentiment %></li>
      <li>Candidate Tweeted About Rating: <%= data_point.tweeted_about_sentiment %></li>
    <% end %>
  </ul>
<% end %>